/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manjari Regular'), local('Manjari-Regular'), url(https://fonts.gstatic.com/s/manjari/v2/k3kQo8UPMOBO2w1UfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Zhi Mang Xing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zhi Mang Xing Regular'), local('ZhiMangXing-Regular'), url(https://fonts.gstatic.com/s/zhimangxing/v5/f0Xw0ey79sErYFtWQ9a2rq-g4aAneQ.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: linear-gradient(to bottom, rgba(225, 244, 243, 0.85) 0%, rgba(255, 255, 255, 0.85) 36%, rgba(255, 255, 255, 0.85) 64%, rgba(225, 244, 243, 0.85) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
html,
body {
  color: black;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zhi Mang Xing', cursive;
  color: #333333;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 3rem;
  line-height: 1.4;
  font-family: 'Manjari', sans-serif;
  color: #706c61;
}
nav {
  font-family: 'Manjari', sans-serif;
}
nav a {
  text-decoration: none;
}
button {
  margin: 20px;
  font-family: 'Manjari', sans-serif;
  border: 2px solid #706c61;
  border-radius: 7px;
  font-size: 2.5rem;
  background: white;
  color: black;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  cursor: pointer;
}
button:hover {
  font-family: 'Manjari', sans-serif;
  border: 2px solid #706c61;
  border-radius: 7px;
  font-size: 2.5rem;
  background: #333333;
  color: #e1f4f3;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  cursor: pointer;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  background-image: url("/img/city_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #e1f4f3;
  border-radius: 20px;
}
header nav h2 {
  font-size: 4.5rem;
  color: #e1f4f3;
  text-shadow: 2px 2px #333333;
  margin: 0px 20px;
}
header nav a {
  font-size: 2.5rem;
  color: #e1f4f3;
  text-shadow: 2px 2px #333333;
  margin: 0px 20px;
}
header .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  box-shadow: 0px 20px 80px 0 #e1f4f3;
  border-radius: 50px;
  background-color: #e1f4f3;
  border-left: 2px solid #706c61;
  border-right: 2px solid #706c61;
}
header .cta h1 {
  font-size: 11rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #706c61;
}
header .cta p {
  margin-bottom: 20px;
}
header .cta .buttons {
  margin: 40px auto;
}
.pitch {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 20px 20px 80px 0 #e1f4f3;
  border-radius: 20px;
  background-color: #e1f4f3;
  border-left: 2px solid #706c61;
  border-right: 2px solid #706c61;
}
.pitch h3 {
  font-size: 5rem;
  margin: 20px auto;
  text-align: center;
  border-bottom: 2px solid #e1f4f3;
}
.info h3 {
  font-size: 5rem;
  text-align: center;
  border-bottom: 2px solid #e1f4f3;
  background-color: #e1f4f3;
  border-radius: 20px;
  margin: 20px auto;
  border-left: 2px solid #706c61;
  border-right: 2px solid #706c61;
  box-shadow: 20px 20px 80px 0 #e1f4f3;
}
.info .container_middle {
  display: flex;
  justify-content: space-between;
}
.info .container_middle .volenteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
  box-shadow: 20px 20px 80px 0 #e1f4f3;
  border-radius: 10px;
  background-color: #e1f4f3;
  border-left: 2px solid #706c61;
  border-right: 2px solid #706c61;
}
.info .container_middle .volenteer h4 {
  font-size: 3.5rem;
  border-bottom: 2px solid #706c61;
}
.info .container_middle .business {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
  box-shadow: 20px 20px 80px 0 #e1f4f3;
  border-radius: 10px;
  background-color: #e1f4f3;
  border-left: 2px solid #706c61;
  border-right: 2px solid #706c61;
}
.info .container_middle .business h4 {
  font-size: 3.5rem;
  border-bottom: 2px solid #706c61;
}
footer .ctafoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  background-image: url("/img/city_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid #cfb495;
}
footer .ctafoot h2 {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 4px 4px #000000;
}
footer nav {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  text-align: center;
  margin: 40px auto;
  border-bottom: 1px solid #cfb495;
}
footer nav a {
  color: #333333;
}
footer .copyright {
  text-align: center;
}
footer .copyright p {
  font-size: 2rem;
  color: #706c61;
}
