//button

.button(@bg-color, @color, @font-size){

    font-family: @fontAlt;

    border: 2px solid @mid;

    border-radius: 7px;

    font-size: @font-size;

    background: @bg-color;

    color:@color;

    width: 150px;

    height: 45px;

    margin-top: 10px;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    @media @phone{
        width:105px;
        height:40px;
    }

    &:hover{
        box-shadow: 0 4px 8px 0 @light;
    }

}